{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Access List <span class="contract-id" style="visibility: hidden">{{ object.id }}</span></h5>
        <div class="card-body">
          <table class="table table-hover attr-table">

            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Supplier</th>
              <td><a href="{{ object.supplier.get_absolute_url }}">{{ object.supplier }}</a></td>
            </tr>
            <tr>
              <th scope="row">Tenant</th>
              <td><a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a></td>
            </tr>
            <tr>
              <th scope="row">Status</th>
              <td>{{ object.status }}</td>
            </tr>
            <tr>
              <th scope="row">Start Date</th>
              <td>{{ object.start_date }}</td>
            </tr>
            <tr>
              <th scope="row">End Date</th>
              <td>{{ object.end_date }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">
        Devices
        <div class="card-actions">
          <button class="btn btn-ghost-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="mdi mdi-plus-thick"></span> Add a Device
          </button>
          <button class="btn btn-ghost-purple btn-sm" onclick="tableToExcel()">
            <span class="mdi mdi-download"></span> Export
          </button>
        </div>
      </h5>
      <div class="htmx-container table-responsive">
        {% render_table selected_devices_table %}
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="--tblr-modal-width:85%">
      <div class="modal-content">
        <div class="modal-header py-3 pt-4">
          <div class="modal-header-container">
            <h5 class="modal-subtitle mb-1" id="exampleModalLabel" style="color:#00857D;">Contract</h1>
            <h1 class="modal-title fs-1" id="exampleModalLabel">Contract's Devices Management</h1>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="filter-select-list d-flex gap-2 mb-3">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle  fs-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">Add filter</button>
              <ul class="dropdown-menu filter-list">
                <h5 class="px-2 my-2" style="color:#00857D">Filter By:</h5>
                <li><a class="dropdown-item filter fs-5">Site</a></li>
                <li><a class="dropdown-item filter fs-5">Role</a></li>
                <li><a class="dropdown-item filter fs-5">Device Type</a></li>
              </ul>
              <ul class="dropdown-menu filter-values sites">
                <h5 class="px-2 my-2" style="color:#00857D">Sites:</h5>
                {% for site in sites %}
                <li><a class="dropdown-item fs-5 values" href="#">{{ site.name }}</a></li>
                {% endfor %}
              </ul>
              <ul class="dropdown-menu filter-values roles">
                <h5 class="px-2 my-2" style="color:#00857D">Roles:</h5>
                {% for role in roles %}
                <li><a class="dropdown-item fs-5 values" href="#">{{ role.name }}</a></li>
                {% endfor %}
              </ul>
              <ul class="dropdown-menu filter-values types">
                <h5 class="px-2 my-2" style="color:#00857D">Device Type:</h5>
                {% for type in types %}
                <li><a class="dropdown-item fs-5 values" href="#">{{ type }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          
          <div class="col">
            <div class="card">
              <h5 class="card-header">
                All Devices
                <div class="card-actions">
                </div>
              </h5>
              <div class="all-devices-table htmx-container table-responsive" style="max-height: 400px; overflow-y: auto;">
                {% render_table non_contract_table %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}

{% block javascript %}
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<script>
  const contractId = document.querySelector(".contract-id").innerHTML;
  const filterBtn = document.querySelectorAll(".filter");
  const filterList = document.querySelector(".filter-list");
  const filterValues = document.querySelectorAll(".filter-values");
  const values = document.querySelectorAll(".values");
  const filterSite = document.querySelector(".sites");
  const filterRole = document.querySelector(".roles");
  const filterType = document.querySelector(".types");
  const filterInput = document.querySelector(".filter-input");
  const filterSelectList = document.querySelector(".filter-select-list");
  const allDevices = document.querySelectorAll(".all-devices-table .table-container table tbody tr");
  let selectedFilter;
  const activeFilters = [];

  function tableToExcel() {
    const table = document.querySelector('.object-list');
    const worksheet = XLSX.utils.table_to_sheet(table);
    const workbook = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(workbook, worksheet, 'Devices');
    XLSX.writeFile(workbook, 'netbox_contract_devices.xlsx');
  }

  // Assign each value to create a new tag
  values.forEach(value => {
    value.addEventListener("click", (e) => {
      handleCreateTag(e);
    })
  })

  function removeTag(e) {
    const tag = e.target;
    const [category, value] = tag.textContent.split(": ");

    const index = activeFilters.findIndex(filter => filter.category === category && filter.value === value);
    activeFilters.splice(index, 1);  
    tag.remove(); 
    filterTable(); 
  }

  function handleCreateTag(e) {
    e.preventDefault();
    selectedFilterOption = e.target;
    const value = selectedFilterOption.textContent.trim();
    if (value === "") return;

    const existingTagIndex = activeFilters.findIndex(
      filter => filter.category === selectedFilter
    );
    if (existingTagIndex !== -1) {
      activeFilters.splice(existingTagIndex, 1);
      const existingTagButton = Array.from(filterSelectList.children).find(tag =>
        tag.textContent.startsWith(`${selectedFilter}: `)
      );
      if (existingTagButton) {
        existingTagButton.remove();
      }
    }

    const newTag = document.createElement("button");
    newTag.classList = "filter-tag btn btn-outline-secondary fs-5 dropdown";
    newTag.textContent = `${selectedFilter}: ${value}`;
    newTag.addEventListener("click", removeTag);
    filterSelectList.appendChild(newTag);
    selectedFilterOption.closest(".dropdown-menu").classList.remove("show");

    activeFilters.push({ category: selectedFilter, value });
    filterTable();
  }

  // Filter rows in Device table
  function filterTable() {
    allDevices.forEach(row => {
      const cells = row.querySelectorAll("td");
      let isVisible = true;

      activeFilters.forEach(filter => {
        if (filter.category === "Site") {
          isVisible = cells[3].textContent.includes(filter.value);
        } else if (filter.category === "Role") {
          isVisible = cells[6].textContent.includes(filter.value);
        } else if (filter.category === "Device Type") {
          isVisible = cells[8].textContent.includes(filter.value);
        }
      });

      row.style.display = isVisible ? "" : "none";
    });
  }

  // Active filter input field
  filterBtn.forEach(btn => {
    btn.addEventListener("click", (event) => {
      selectedFilter = btn.innerHTML.trim();
      filterList.classList.remove("show");
      if (selectedFilter === "Site") {
        filterSite.classList.toggle("show");
      } else if (selectedFilter === "Role") {
        filterRole.classList.add("show");
      } else if (selectedFilter === "Device Type") {
        filterType.classList.add("show");
      }
    });
  });

  document.addEventListener("click", (event) => {
    filterValues.forEach(filterValue => {
      if (!filterList.contains(event.target) && !filterValue.contains(event.target)) {
        filterValue.classList.remove("show");
      }
    })
  });

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  // Add Device to Contract
  document.querySelectorAll(".add-device-contract").forEach(btn => {
    btn.addEventListener("click", (event) => {
      event.preventDefault(); 
      const deviceId = btn.getAttribute("device_id"); 

      fetch(`/plugins/contract/api/contracts/${contractId}/add_device/`, {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": getCookie('csrftoken') 
          },
          body: JSON.stringify({ "device_id": deviceId })
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              alert(data.message); 
              location.reload();  
          } else {
              console.error("Error:", data.error);
              alert(`Failed to add device: ${data.error}`);
          }
      })
    });
  });

  // Remove device from contract
  document.querySelectorAll(".remove-device-contract").forEach(btn => {
    btn.addEventListener("click", (event) => {
      event.preventDefault(); 
      const deviceId = btn.getAttribute("device_id"); 

      fetch(`/plugins/contract/api/contracts/${contractId}/remove_device/`, {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": getCookie('csrftoken') 
          },
          body: JSON.stringify({ "device_id": deviceId })
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              alert(data.message); 
              location.reload();  
          } else {
              console.error("Error:", data.error);
              alert(`Failed to add device: ${data.error}`);
          }
      })
    });
  });
</script>
{% endblock %}
