{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Access List</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Supplier</th>
              <td><a href="{{ object.supplier.get_absolute_url }}">{{ object.supplier }}</a></td>
            </tr>
            <tr>
              <th scope="row">Tenant</th>
              <td><a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a></td>
            </tr>
            <tr>
              <th scope="row">Status</th>
              <td>{{ object.status }}</td>
            </tr>
            <tr>
              <th scope="row">Start Date</th>
              <td>{{ object.start_date }}</td>
            </tr>
            <tr>
              <th scope="row">End Date</th>
              <td>{{ object.end_date }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">
        Devices
        <div class="card-actions">
          <button class="btn btn-ghost-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="mdi mdi-plus-thick"></span> Add a Device
          </button>
        </div>
      </h5>
      <div class="htmx-container table-responsive">
        {% render_table selected_devices_table %}
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="--tblr-modal-width:85%">
      <div class="modal-content">
        <div class="modal-header py-3 pt-4">
          <div class="modal-header-container">
            <h5 class="modal-subtitle mb-1" id="exampleModalLabel" style="color:#00857D;">Contract</h1>
            <h1 class="modal-title fs-1" id="exampleModalLabel">Contract's Devices Management</h1>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="filter-select-list d-flex gap-2 mb-3">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle  fs-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">Add filter</button>
              <ul class="dropdown-menu filter-list">
                <h5 class="px-2 my-2" style="color:#00857D">Filter By:</h5>
                <li><a class="dropdown-item filter fs-5">Site</a></li>
                <li><a class="dropdown-item filter fs-5">Role</a></li>
                <li><a class="dropdown-item filter fs-5">Device Type</a></li>
              </ul>
              <ul class="dropdown-menu filter-text">
                <li><input class="filter-input fs-5 m-2 p-1 rounded-1" type="text" placeholder="Enter filter text" style="border-color:#00857D"></li>
              </ul>
            </div>
          </div>
          
          <div class="col">
            <div class="card">
              <h5 class="card-header">
                All Devices
                <div class="card-actions">
                </div>
              </h5>
              <div class="all-devices-table htmx-container table-responsive" style="max-height: 400px; overflow-y: auto;">
                {% render_table non_contract_table %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}

{% block javascript %}
<script>
  const filterBtn = document.querySelectorAll(".filter");
  const filterList = document.querySelector(".filter-list");
  const filterText = document.querySelector(".filter-text");
  const filterInput = document.querySelector(".filter-input");
  const filterSelectList = document.querySelector(".filter-select-list");
  const allDevices = document.querySelectorAll(".all-devices-table .table-container table tbody tr");
  let selectedFilter;
  const activeFilters = [];

  function removeTag(e) {
    const tag = e.target;
    const [category, value] = tag.textContent.split(": ");

    const index = activeFilters.findIndex(filter => filter.category === category && filter.value === value);
    activeFilters.splice(index, 1);  
    tag.remove(); 
    filterTable(); 
  }

  function handleCreateTag(e) {
    if (e.key === "Enter") {
        filterText.classList.remove("show");
        
        const value = filterInput.value.trim();
        if (value === "") return; 

        const newTag = document.createElement("button");
        newTag.classList = "filter-tag btn btn-outline-secondary fs-5 dropdown";
        newTag.textContent = `${selectedFilter}: ${value}`;
        newTag.addEventListener("click", removeTag);
        filterSelectList.appendChild(newTag);
        
        activeFilters.push({ category: selectedFilter, value });
        filterInput.value = "";
        filterTable();
    }
  }

  // Filter rows in Device table
  function filterTable() {
    allDevices.forEach(row => {
      const cells = row.querySelectorAll("td");
      let isVisible = true;

      activeFilters.forEach(filter => {
        if (filter.category === "Site") {
          isVisible = cells[3].textContent.includes(filter.value);
        } else if (filter.category === "Role") {
          isVisible = cells[6].textContent.includes(filter.value);
        } else if (filter.category === "Device Type") {
          isVisible = cells[8].textContent.includes(filter.value);
        }
      });

      row.style.display = isVisible ? "" : "none";
    });
  }

  // Active filter input field
  filterBtn.forEach(btn => {
    btn.addEventListener("click", (event) => {
      selectedFilter = btn.innerHTML;
      filterList.classList.remove("show");
      filterText.classList.add("show");

      filterText.removeEventListener("keyup", handleCreateTag);
      filterText.addEventListener("keyup", handleCreateTag);
    });
  });

  document.addEventListener("click", (event) => {
    if (!filterList.contains(event.target) && !filterText.contains(event.target)) {
      filterText.classList.remove("show");
    }
  });

</script>
{% endblock %}
